<div class="modal" *ngIf="showModal">
   <div class="modal-content">
      <p>{{ successMessage }}</p>
      <button (click)="fecharModal()">OK</button>
   </div>
</div>  

<div class="edit-page">
 <h2> Editar Partida </h2>
 <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="title" name="title" required placeholder="Título da partida"/>
    <input type="date" [(ngModel)]="date"  name="date"/>
    <input type="text" [(ngModel)]="location" name="location" required placeholder="Local" />

    <button type="submit"> Atualizar </button>

    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    
 </form>
 <button (click)="voltar()" class="btn-voltar">Voltar</button>
</div>
