<div class="detail-page" *ngIf="partida; else error">
    <h2>{{ partida.title }}</h2>
    <p><strong>Data:</strong>{{ partida.date }}</p>
    <p><strong>Local:</strong>{{ partida.location }}</p>
   
    <button (click)="voltar()">Voltar</button>
</div>

<ng-template #error>
   <p class="error">{{ errorMessage }}</p>   
</ng-template>


<h3> Confirmados:</h3>
<ul *ngIf="confirmacoes.length > 0; else semConfirmacoes">
    <li *ngFor="let c of confirmacoes">
        {{ c.user_name }}
    </li>
</ul>

<ng-template #semConfirmacoes>
    <p>Nenhum jogador confirmou presença ainda.</p>
</ng-template>