@use '../../shared/shared.scss' as*;


.login-page {
  background: url('/fundoNBA.jpg') no-repeat center center/cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.login-box {
  position: relative;
  z-index: 2;
  background: rgba(216, 218, 224, 0.05);
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 380px;
  text-align: center;
  color: white;
}

.logo {
  width: 80px;  
  height: 80px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='48' fill='%23f57c00' stroke='%23e65100' stroke-width='4'/%3E%3Cpath d='M 50 2 A 50 50 0 0 1 50 98 A 50 50 0 0 1 50 2 Z M2 50 A 50 50 0 0 0 98 50 A 50 50 0 0 0 2 50 Z' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(15deg) scale(1.05);
  }
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;

    &::placeholder {
      color: #eee;
    }

    &:focus {
      outline: 2px solid #5c5c5c;
      background: rgba(255, 255, 255, 0.25);
    }
  }

  button {
    padding: 0.75rem;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #ffa726, #fb8c00);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: linear-gradient(90deg, #fb8c00, #ef6c00);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}

.forgot {
  display: block;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #ddd;
  text-decoration: underline;
}

.signup-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(90deg, #c09f6e, #ef6c00);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  font-weight: bold;
  z-index: 2;
  text-decoration: none;
}
